* {
	box-sizing: border-box;
	margin: 0;
}

a {
	color: #21897E;
}

.page {
	padding: 32px;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: system-ui, Roboto, Cantarell, 'Open Sans', sans-serif;
	text-align: center;
	background-color: #F7FFF6;
	color: #260C1A;
}

.main {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 16px;

	> * {
		max-width: 30rem;
	}

	> .title {
		font-size: 2.5rem;
	}

	> .desc {
		font-size: 1.125rem;
	}

	> .error {
		padding: 16px;
    	border-radius: 8px;
		background-color: #d3d3d3;
	}
}
